name: Playwright CI Pipeline






on:


  push:


    branches: [laszlo_veres]


  pull_request:


    branches: [laszlo_veres]





jobs:


  build:


    runs-on: ubuntu-latest


    steps:


      - name: Checkout code


        uses: actions/checkout@v3


      - name: Setup Node.js


        uses: actions/setup-node@v3


        with:


          node-version: '20.x'


      - name: Install dependencies


        run: npm ci


      - name: Install Playwright browsers


        run: npx playwright install --with-deps





  test:


    runs-on: ubuntu-latest


    needs: build


    steps:


      - name: Checkout code


        uses: actions/checkout@v3


      - name: Setup Node.js


        uses: actions/setup-node@v3


        with:


          node-version: '20.x'


      - name: Install dependencies


        run: npm ci


      - name: Install Playwright browsers


        run: npx playwright install --with-deps


      - name: Run Playwright tests


        run: npx playwright test


      - name: Generate Allure report


        run: npx allure generate


      - name: Upload Allure report artifact


        uses: actions/upload-artifact@v3


        with:


          name: allure-report


          path: allure-report