name: Clean up gh-pages folders

on:
  schedule:
    - cron: '0 0 * * 0'

jobs:
  cleanup-gh-pages:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout gh-pages
        uses: actions/checkout@v4
        with:
          ref: gh-pages
          fetch-depth: 0

      - name: List remote branches
        id: branches
        run: |
          # Getting all remote branches
          git fetch --prune origin '+refs/heads/*:refs/remotes/origin/*'
          EXISTING_BRANCHES=$(git for-each-ref --format='%(refname:short)' refs/remotes/origin/ | sed 's|origin/||')
          echo "existing=$EXISTING_BRANCHES" >> $GITHUB_OUTPUT

      - name: Clean up deleted branch folders
        run: |
          EXISTING=(${{ steps.branches.outputs.existing }})
          echo "Existing branches: ${EXISTING[@]}"

          # Folders in the gh-pages branch
          for DIR in */ ; do
            DIR=${DIR%/}
            if [[ ! " ${EXISTING[@]} " =~ " ${DIR} " ]]; then
              echo "Deleting folder for deleted branch: $DIR"
              rm -rf "$DIR"
            fi
          done

          if [ -n "$(git status --porcelain)" ]; then
            git config user.name "github-actions"
            git config user.email "github-actions@github.com"
            git add .
            git commit -m "Remove gh-pages folders for deleted branches"
            git push origin gh-pages
          else
            echo "No folders to remove. Nothing to commit."
          fi
